 * {
    margin: 0;
    padding: 0;
}

body{
    text-align: inherit;
}

span {
   
    font-family: 'Mukta', sans-serif;
    font-family: 'Teko', sans-serif;
    font-size: 60px;
    margin-bottom: 45px;
}

div {
    background-color: #FFA500;
    color: #ffff;
    border-radius: 15px;
    width: fit-content;
    padding: 90px 45px;
   /* text-align: center;*/
    margin: 50px auto 50px auto ;
    margin-block-start: 200px;
    font-family: 'Mukta', sans-serif;
}

p {
   color: #FFFAFA;
    font-size: 25px;
}

button{
   
    padding: 15px 25px;
    font-size: 25px;
    margin-top: 45px;
    color: #FFA500;
    border-radius: 100px;
    border-color: #ffff;
    font-family: 'Mukta', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Teko', sans-serif;
    border-width: 0px;

}

